/** ANIMATIONS **/

@keyframes LogoSlideLeft
{
    From
    {
        transform: translateX(-300px);
    }   
    To
    {
        transform: translateX(0);
    } 
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;
}

/** HEADER **/

header
{
    min-width: 100%;
    min-height: 10vh;
    background-color: #16181F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #F2F2F2;
    box-shadow: 1px 0px 3px 1px #16181F;
    position: sticky;
    top: 0;
}

.header-logo-img
{
    width: 150px;
    size: 150px;
    margin-left: 4rem;
    animation-name: LogoSlideLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.header-links
{
    margin-right: 1rem;
    width: 300px;
}

.header-link-login
{
    color: #F2F2F2;
    text-decoration: none;
    background-color: #8C1818;
    border-radius: 3px;
    padding: 15px;
    margin-right: 20px;
    box-shadow: 1px 0px 3px 0.1px #8C1818;
    transition: background-color, 0.3s;
    font-size: 14px;
}

.header-link-register
{
    color: #F2F2F2;
    text-decoration: none;
    background-color: #03570a;
    border-radius: 3px;
    padding: 15px;
    margin-right: 20px;
    box-shadow: 1px 0px 3px 0.1px #03570a;
    transition: background-color, 0.3s;
    font-size: 14px;
}

.header-link-register:hover
{
    background-color: #078111;
}

.header-link-login:hover
{
    background-color: #d12525;
}



.header-menu-text
{
    padding: 20px;
    color: #F2F2F2;
    text-decoration: none;
    font-size: 20px;
    transition: color, 0.3s;
}

.header-menu-text:hover
{
    color: #F2A71B;
}

/** CONTENU PRINCIPAL **/

.main-container
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 90vh;
}

.main-container-content
{
    flex-grow: 1;
    background-color: #444447;
}

.main-container-text h2
{
    text-align: center;
    color: #F2F2F2;
}

/** FOOTER - BAS DE PAGE **/

footer
{
    background-color: #8C1818;
    width: 100%;
    min-height: 5vh;
}