:root
{
    --white-clr: #E4E4E4;
    --midblue-clr: #025373;
    --lightblue-clr: #0476D9;
    --darkblue-clr: #010A26;
    --grey-clr: #393E46;
    --lightgrey-clr: #555961;
    --black-clr: #16181F;
    --gold-clr: #E6AB28;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    background-color: var(--white-clr);
    font-family: 'Roboto', Helvetica, sans-serif;
    height: 100%;
}



/***** HEADER *****/
header
{
    background-color: var(--black-clr);
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-banner
{

    width: 150px;
    object-fit: fit;
    margin-left: 4rem;
}


.header-menu-link
{
    text-decoration: none;
    padding: 30px;
    color: var(--white-clr);
    font-size: 20px;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.header-menu-link:hover
{
    color: var(--gold-clr);
}

.header-btn-container
{
    margin-right: 5rem;
    padding: 5px;
}

.header-btn-login
{
    color: var(--white-clr);
    background-color: transparent;
    padding: 15px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
}

.header-btn-register
{
    color: var(--white-clr);
    text-decoration: none;
    padding: 15px;
    border: none;
    border: 1px solid var(--white-clr);
    border-radius: 5px;
    font-weight: 500;
    transition: color, 0.3s;
}

.header-btn-register:hover
{
    color: var(--lightblue-clr);
}

.header-btn-login:hover
{
    color: var(--gold-clr);
}
/***** HEADER *****/



/***** STYLES GENERAUX POUR FORMULAIRES *****/
.form-buttons
{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.form-btn-send
{
    padding: 10px;
    width: 100px;
    background-color: var(--lightblue-clr);
    color: var(--white-clr);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 0px 3px 0.1px var(--lightblue-clr);
    transition: background-color 0.2s ease;
}

.form-btn-reset
{
    padding: 10px;
    width: 100px;
    background-color: darkred;
    color: var(--white-clr);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 0px 3px 0.1px darkred;
    transition: background-color 0.3s ease;
}

.form-btn-send:hover
{
    background-color: rgb(37, 130, 250);
}

.form-btn-reset:hover
{
    background-color: rgb(189, 3, 3);   
}

.form-header
{
    text-align: center;
    line-height: 1.8;
    margin: 20px auto;
    padding: 30px;
    width: 50%;
    border: 1px solid #474747;
    background-color: var(--grey-clr);
    color: var(--white-clr);
}

.form-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container
{
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #696A6B;
    background-color: var(--grey-clr);
    color: var(--white-clr);
}

.form-header
{
    text-align: center;
    line-height: 1.8;
    margin: 20px auto;
    padding: 30px;
    width: 50%;
    border: 1px solid #474747;
    background-color: var(--grey-clr);
    color: var(--white-clr);
}

.form-container
{
    width: 50%;
    background-color: var(--grey-clr);
    border: 1px solid #474747;
    padding: 30px;
    margin: 0 auto;
    color: var(--white-clr);
}

.form-row
{
    padding: 10px;
    margin: 10px auto;
}

.form-row label
{
    display: block;
    margin-bottom: 5px;
}

.form-row input[type="text"], input[type="email"], input[type="password"]
{
    width: 500px;
    padding: 5px;
    border: 1px solid var(--lightblue-clr);
    border-radius: 4px;
    padding: 8px;
    outline: none;
}

.form-row select
{
    width: 500px;
    padding: 5px;
}

.form-row textarea
{
    width: 500px;
    height: 120px;
    resize: none;
}
/***** STYLES GENERAUX POUR FORMULAIRES *****/



/***** TORRENTS *****/
.torrents-header
{
    background-color: yellow;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: var(--grey-clr);
    color: var(--white-clr);
    box-shadow: 2px 2px 3px 0.5px var(--midblue-clr);
    line-height: 1.8;
}

.torrents-container
{
    background-color: var(--lightgrey-clr);
    color: var(--white-clr);
    text-align: center;
    padding: 20px;
    height: 100%;
}

.main-container
{
    height: 100%;
}

.main-separator
{
    border: 3px solid var(--black-clr);
}

.main-table
{
    width: 75%;
    margin: 0 auto;
    border: 2px solid var(--white-clr);
    border-collapse: collapse;
}

.main-table thead
{
    background-color: darkred;
}

.main-table thead td
{
    border: 1px solid var(--white-clr);
}

.main-table td
{
    padding: 15px;
    border: 1px solid var(--white-clr);
}

.main-table tr
{
    border: 1px solid var(--white-clr);
}

.torrents-table-dl
{
    color: var(--black-clr);
    background-color: var(--gold-clr);
    padding: 8px;
    box-shadow: 1px 0px 1px 0.1px var(--gold-clr);
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.1s ease;
}

.torrents-table-dl:hover
{
    background-color: #f0ba45;
}

.main-search-bar
{
    margin-top: 20px;
    width: 250px;
    padding: 5px;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    transition: width 0.3s ease;
}

.main-search-bar:focus
{
    width: 450px;
    border: 2px solid var(--lightblue-clr);
}